/* Main Document */
body {
	min-height: 100%;
  background: #f7f7f7;
	font-family: 'Lato', sans-serif;
	font-size: 14px;
	color: #333;
	transition: 0.2s all;
}
h1, h2, h3, h4, h5, h6 {
	color: #333 !important;
}
h1 { font-size: 26px; }
h2 { font-size: 22px; }
h3 { font-size: 20px; }
h4 { font-size: 18px; }
h5 { font-size: 16px; }
h6 { font-size: 15px; }

#app {
	padding-top: 58px !important;
}

/* Propiedades generales */
.cursor-p {
	cursor: pointer !important;
}
.container-classic {
    margin: 40px auto;
}
.container-width-80 {
	width: 70% !important;
}
div.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.01), 0 10px 10px 0 rgba(0, 0, 0, 0.05);
}
.simple-div {
    margin: 40px auto;
    padding: 60px 60px;
}
.comfortaa {
    font-family: 'Comfortaa', cursive !important;
}
.dropdown-menu > li {
	cursor: pointer;
}
.color-blue {
	color: #4286f4 !important;
}

/* NavBar */
.form-inline {
    display: inline-block;
}
.navbar-header.col {
	padding: 0 !important;
}	
.navbar {
	color: #fff;
	background: lightseagreen;
	padding: 4px 180px;
	border-radius: 0 !important;
	border: none;
	box-shadow: none;
}
.navbar img {
	border-radius: 50%;
	width: 36px;
	height: 36px;
	margin-right: 10px;
}
.navbar .navbar-brand {
	color: #fafafa;
	padding-left: 0;
	padding-right: 50px;
	font-size: 24px;	
}
.navbar .navbar-brand:hover, .navbar .navbar-brand:focus {
	color: #fff;
}
.navbar .navbar-brand i {
	font-size: 22px;
	margin-right: 6px;
}
.search-box {
	position: relative;
}	
.search-box input {
	padding-right: 35px;
	min-height: 38px;
	color: #131313;
	border: 1px solid #f9f9f9;
	background: #fff;
	border-radius: 3px !important;
}
.search-box input:focus {		
	background: #fff;
	box-shadow: none;
}
.search-box .input-group-addon {
	min-width: 35px;
	border: none;
	background: transparent;
	position: absolute;
	right: 0;
	z-index: 9;
	padding: 9px 14px;
	height: 100%;
}
.search-box i {
	color: #a0a5b1;
	font-size: 16px;
}
.navbar .nav-item i {
font-size: 22px;
}
.navbar .nav-item span {
	position: relative;
	top: 3px;
}
.navbar .nav > li a {
	color: #efe5ff;
	padding: 16px 18px;
	font-size: 16px;		
}
.navbar .nav > li a:hover, .navbar .nav > li a:focus {
color: #fff;
text-shadow: 0 0 4px rgba(255,255,255,0.3);
}
.navbar .nav > li > a > i {
display: block;
text-align: center;
}
.navbar .dropdown-item i {
font-size: 16px;
min-width: 22px;
}
.navbar .dropdown-item .material-icons {
	font-size: 21px;
	line-height: 16px;
	vertical-align: middle;
	margin-top: -2px;
}
.navbar .nav-item.open > a, .navbar .nav-item.open > a:hover, .navbar .nav-item.open > a:focus {
color: #fff;
background: none !important;
}
.navbar .dropdown-menu {
border-radius: 1px;
border-color: #e5e5e5;
box-shadow: 0 2px 8px rgba(0,0,0,.05);
}
.navbar .dropdown-menu li a {
color: #777 !important;
padding: 8px 20px;
line-height: normal;
}
.navbar .dropdown-menu li a:hover, .navbar .dropdown-menu li a:focus {
color: #333 !important;
background: transparent !important;
}
.navbar .nav .active a, .navbar .nav .active a:hover, .navbar .nav .active a:focus {
color: #fff;
text-shadow: 0 0 4px rgba(255,255,255,0.2);
background: transparent !important;
}
.navbar .nav .user-action {
padding: 9px 15px;
}
.navbar .navbar-toggle {
border-color: #fff;
}
.navbar .navbar-toggle .icon-bar {
background: #fff;
}
.navbar .navbar-toggle:focus, .navbar .navbar-toggle:hover {
background: transparent;
}
.navbar .navbar-nav .open .dropdown-menu {
background: #faf7fd;
border-radius: 1px;
border-color: #faf7fd;
box-shadow: 0 2px 8px rgba(0,0,0,.05);
}
.navbar .divider {
background-color: #e9ecef !important;
}
@media (min-width: 1200px){
	.form-inline .input-group {
		width: 350px;
		margin-left: 30px;
	}
}
@media (max-width: 1199px){
	.navbar {	
		padding: 2px 60px;
	}
	.navbar .nav > li > a > i {
		display: inline-block;			
		text-align: left;
		min-width: 30px;
		position: relative;
		top: 4px;
	}
	.navbar .navbar-collapse {
		border: none;
		box-shadow: none;
		padding: 0;
	}
	.navbar .navbar-form {
		border: none;			
		display: block;
		margin: 10px 0;
		padding: 0;
	}
	.navbar .navbar-nav {
		margin: 8px 0;
	}
	.navbar .navbar-toggle {
		margin-right: 0;
	}
	.input-group {
		width: 100%;
	}
}

/* Footer */
footer {
	margin: 120px 0 0 0 !important;
	background: #fff;
	box-shadow: #333;
}
.footer-top {
	padding: 60px 0;
}
.footer-logo {
	width: 240px;
}
.footer-copyright {
	padding: 20px;
	border-top: 1px #eee solid !important;
	background: white !important;
	color: #333 !important;
}
.footer-copyright > a {
	color: #4286f4 !important;
}

/* Home Page */
.carousel-control-prev, .carousel-control-next {
	opacity: 1 !important;
	background: #fff !important;
	color: #4286f4 !important;
	width: 50px;
	height: 90px;
	margin-top: auto;
	margin-bottom: auto;

}
.carousel-control-prev {
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
}
.carousel-control-next {
	border-top-left-radius: 8px;
	border-bottom-left-radius: 8px;
}
.carousel-control-prev:hover, .carousel-control-next:hover {
	opacity: 0.7 !important;
}
.home-card {
	padding: 10px !important;
}
.home-carousel {
	width: 85%;
	margin: 0 auto !important;
}
.home-carousel-height {
	height: 340px;
}
.card-home {
	color: #333 !important;
}
.card-home:hover {
	transform: scale(1.01);
}
.card-home button:hover {
	color: #fff !important;
}

.card-view-over {
	position: absolute;
	z-index: 1000;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  color: red;
  visibility: hidden;
  opacity: 0;

  /* transition effect. not necessary */
  transition: opacity .2s, visibility .2s;
}

.card-home:hover .card-view-over {
  visibility: visible;
  opacity: 1;
}








/* contact Page */

/* Search Page */
.filter-card {
	position: sticky !important;
}
.filter-card .card-header {
	background: #e6e6e6;
}
.filtros .list-group-item {
    font-size: 14px;
}
.filtros select, .filtros input[type=text] {
    padding: 0px 5px;
    font-size: 14px;
}

.ubicacion-card {
	font-size: 12px;
}
.checked { /* Color de estrellas de valoracion */
    color: #ff9900;
}
.list-group > a:hover {
  text-decoration: none;
	opacity: 0.7;
}
.propiedad-card {
	color: #333;
	height: 190px !important;
}
.propiedad-card .row {
	height: 100% !important;
}
.card-price {
	position: absolute;
	bottom: 0;
	right: 15px;
	font-size: 14px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 12px;
}
.card-promo {
	position: absolute;
	top: 0;
	right: 0;
}
.object-fit_cover {
  -o-object-fit: cover;
     object-fit: cover;
}
.img-cover {
  height: 100%;
  background-color: #444;
}
.img-cover[class] {
  width: 100%;
}
.image {
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	float: left;
	overflow: hidden;
	width: 100%;
	height: 100%;
  margin: 0;
}
.second-info {
		font-size: 12px;
		position: absolute;
		bottom: 0;
		left: 0;
}


/* Perfil */
.profile-div {
	min-height: 44em;
}
.profile-pic {
	height: 200px;
	border-radius: 50%;
}
.menuItem {
	transition: 0.2s all;
}
.menuItem:hover {
	cursor: pointer;
	background: #eee !important;
}
.menuItem:active {
	background: #ddd !important;
}
.medio-de-pago-card {
	opacity: 0.6;
	text-decoration: none;
	color: #131313;
}
.medio-de-pago-card:hover {
	opacity: 1;
	text-decoration: none;
	color: #131313;
}
.medio-de-pago-card-outer {
	padding: 5px !important;
	margin: 0px;
}

/* Panel de Control */
.panel-div {
	min-height: 800px !important;
}

/* Logout Modal (Ventana de cierre de sesión) */
.modal {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0,0.4);
  }
  .modalContent {
	text-align: center;
	background-color: #fefefe;
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 10px 15px;
	margin: 15% auto;
	border: 1px solid #888;
	width: 40%;
  }
	/* The Close Button */
  .close {
	height: 36px;
	width: 100%;
	display: block;
  }
  .closeButton {
	float: right;
	font-size: 26px;
	color: #aaa;
	text-align: center;
	transition: 0.2s all;
	cursor: pointer;
  }
  .closeButton:hover, .closeButton:focus {
	color: black;
	text-decoration: none;
  } 
	/* Modal text */
  .textModal {
	margin-top: 25px; 
	display: block;
  }
  .textModal p {
	font-size: 20px;
  }
	/* Confirmation Buttons */
  .logoutButtons{
	display: block;
	margin: 40px 0px 10px 0px;
  }
  .logoutButtons button {
	padding: 10px;
	width: 100px;
	border: 1px solid #c9c9c9;
	border-radius: 3px;
	margin: 0px 25px;
	cursor: pointer;
	transition: 0.3s;
  }
  .logoutButtons button:hover{
	background: #ccc;
	}
